<html>

<head>
    <title>Contact Form</title>
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>


<body>

    <nav class="navbar navbar-expand-lg" style="background-color: whitesmoke
    ;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active mx-2" aria-current="page" href="/" style="margin-right: 20px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark mx-2 active" aria-current="page" href="/add-project">Add Project</a>
                    </li>
                </ul>
                <a href="/contact" class="btn bg-dark text-white px-3">Contact Me</a>
            </div>
        </div>
    </nav>

    <form>

        <div class="mb-3">
            <label for="inputProjactName" class="form-label text-bold">Name</label>
            <input type="text" class="form-control" id="inputProjactName" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>

        <div class="mb-3">
              <label for="inputEmail" class="form-label text-bold">Email</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>

            <div class="mb-3">
            <label for="inputNumber" class="form-label text-bold">Phone Number</label>
            <input type="number" class="form-control" id="inputNumber" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>

        <div class="mb-3">
            <label for="inputSubject" class="form-label text-bold">Subject</label>
            <select class="form-select" aria-label="Default select example">
                <option value="">Select</option>
                <option value="Frontend">Frontend</option>
                <option value="Backend">Backend</option>
                <option value="Fullstack">Fullstack</option>
              </select>           
        </div>

        <div class="mb-3">
            <label for="inputMessage" class="form-label text-bold">Your Message</label>
            <textarea class="form-control" id="inputMessage" cols="30" rows="3"></textarea>
          </div>

        <div class="rounded-4 d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn bg-dark text-white px-5 rounded-pill mt-3" onclick="">Submit</button>
        </div>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn bg-dark text-white px-5 rounded-pill mt-3" onclick="submitData()">Submit</button>
        </div> -->

    </form>

</body>

<script src="form.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</html>